{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
    <title>Upload new File</title>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file multiple>
        <input type=submit value=Upload>
    </form>
  {% block files %}
    <h1>file list</h1>
    <ul>
      {% if items %}
        {% for file in items %}
          <li>{{ file }}{{}}{{}}</li>
        {% endfor %}
      {% else %}
        {{" empty list "}}
      {% endif %}
    </ul>
{% endblock files %}
{% endblock content %}


