{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!--<form method="post">-->
    <!--<label for="title">Title</label>-->
    <!--<input name="title" id="title" value="{{ request.form['title'] }}" required>-->
    <!--<label for="body">Body</label>-->
    <!--<textarea name="body" id="body">{{ request.form['body'] }}</textarea>-->
    <!--<input type="submit" value="Save">-->
  <!--</form>-->

    <title>Upload new File</title>
    <!--<h1>Upload new File</h1>-->
    <form method=post enctype=multipart/form-data>
        <input type=file name=file multiple>
        <input type=submit value=Upload>
    </form>
    <h1>Members</h1>
    <ul>
      {% if new_files %}
        {% for file in new_files %}
          <li>{{ file }}</li>
        {% endfor %}
      {% else %}
        {{" empty list "}}
      {% endif %}
    </ul>
{% endblock %}